{% extends "base.html.twig" %}
{% block title %}Test výpis!{% endblock %}

{% block body %}
  {% include "header.html.twig" %}

  <div class="container">
    <h1>Test výpis!</h1>
    <p>Testovací výpis.</p>

    <div class="alert alert-info" role="alert">Výpis databáze načten za {{ dbTime }} sekund.</div>

    <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Název</th><th>Obsah</th><th>Výkon</th><th>Tachometr</th><th>Rok výroby</th>
          <th>Max. rychlost</th><th>Zrychlení</th><th>Cena</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td>{{ car.name }}</td>
          <td>{{ car.volume }} ccm</td>
          <td>{{ car.power }} kW</td>
          <td>{{ car.mileage }} km</td>
          <td>{{ car.manufactureyear }}</td>
          <td>{{ car.topspeed }} km/h</td>
          <td>{{ car.acceleration }} s</td>
          <td>{{ car.price }} Kč</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock %}