{% extends "base.html.twig" %}
{% block title %}Vyhledat{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>Detail vozu</h1>
        <h2>{{ car.name }}</h2>

        <section>
            <dl>
                <dt>Volume</dt>
                <dd id="volume">{{ car.volume }} ccm</dd>
                <dt>Power</dt>
                <dd id="power">{{ car.power }} kW</dd>
                <dt>Mileage</dt>
                <dd id="mileage">{{ car.mileage }} km</dd>
                <dt>Manufacture year</dt>
                <dd id="manufacture_year">{{ car.manufactureyear }}</dd>
                <dt>V-max</dt>
                <dd id="top_speed">{{ car.topspeed }} km/h</dd>
                <dt>Acceleration</dt>
                <dd id="acceleration">{{ car.acceleration }} s</dd>
                <dt>Price</dt>
                <dd id="price">{{ car.price }} Kč</dd>
            </dl>
        </section>

    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function() {
            function thousandSeparator(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }

            $("#volume").text(thousandSeparator($("#volume").text()));
            $("#mileage").text(thousandSeparator($("#mileage").text()));
            $("#price").text(thousandSeparator($("#price").text()));
        });
    </script>
{% endblock %}